# Pandas DataFrames 2

In [5]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [9]:
df

             A         B
G1 1 -0.086629  0.118177
   2 -0.945008  1.400451
   3  0.120176 -0.767211
G2 1 -1.250050  0.230297
   2 -0.515097 -1.495324
   3  0.759376 -2.887267

In [10]:
df.loc['G1'].loc[1]

A   -0.086629
B    0.118177
Name: 1, dtype: float64

In [11]:
df.index.names

FrozenList([None, None])

In [12]:
df.index.names = ['Groups', 'Num']

In [13]:
df

                   A         B
Groups Num
G1     1   -0.086629  0.118177
       2   -0.945008  1.400451
       3    0.120176 -0.767211
G2     1   -1.250050  0.230297
       2   -0.515097 -1.495324
       3    0.759376 -2.887267

In [15]:
df.loc['G2'].loc[2]

A   -0.515097
B   -1.495324
Name: 2, dtype: float64

In [16]:
df.loc['G1']

            A         B
Num
1   -0.086629  0.118177
2   -0.945008  1.400451
3    0.120176 -0.767211

In [17]:
df.xs('G1')

            A         B
Num
1   -0.086629  0.118177
2   -0.945008  1.400451
3    0.120176 -0.767211

In [18]:
df.xs(1, level="Num")

               A         B
Groups
G1     -0.086629  0.118177
G2     -1.250050  0.230297